// modules sass
@use 'modules/font';
@use 'modules/mixin'as m;
:root{
  --primaryColor: #1a1b24;
  --secondaryColor: #282b38;
  --tersierColor: #3e4253;
  --primaryTextColor: #fff;
  --secondaryTextColor: #b0bec5;
  --interactiveText : #0071bc;
  --borderColor : #3e4253;
}
[data-theme='light']{
  --primaryColor: #DDE4E7;
  --secondaryColor: #ECEFF1;
  --tersierColor: #DDE4E7;
  --primaryTextColor: #1a1b24;
  --secondaryTextColor: #282b38;
  --borderColor : #8791A6;
  }


// end of modules
// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.2s ease-in;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  background-color: var(--primaryColor);
}
#root{
  display:flex; 
  flex-direction:column;
  height: 100vh;
}
// End Of Global Styles

// Header styles
header {
  display: inline;

  nav {
    display: flex;
    background-color: var(--secondaryColor);
    justify-content: space-between;
    padding: 0 2em;
    height: 60px;
    align-items: center;
    position: sticky;
    top: 0;

    .brand-container {
      display: flex;
      align-items: center;
      .title-logo {
        display: flex;
        align-items: center;
        a {
          font-size: 1em;
          color: var(--primaryTextColor);
          text-decoration: none;

          &:hover {
            color: var(--secondaryTextColor);
          }
        }

        svg {
          color: var(--primaryTextColor);
          margin-right: 0.3em;
        }
      }
      .toggle-theme{
        margin: 8px 12px 0 12px;
        button{
          background: transparent;
          color: var(--primaryTextColor);
          font-size: 28px;
          border: 0;
          cursor: pointer;
        }
      }
      .toggle-lang{
        button{
          color: var(--primaryTextColor);
          font-size: 1em;
          background-color: #00cc8f;
          padding: 0.4em;
          border-radius: 6px;
          text-align: center;
          cursor: pointer;
          width: 50px;
          border: none;
          &:hover{
            opacity: .7;
          }
        }
      }
    }

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        margin: 0 .5em;

        a {
          text-decoration: none;
          color: var(--primaryTextColor);
          font-weight: bold;
          font-size: 0.9em;

          &:hover {
            color: var(--secondaryTextColor);
          }
        }

     

      }
    }

    /* Hamburger */
    .menu-toggle {
      display: none;
      flex-direction: column;
      height: 20px;
      justify-content: space-between;
      position: relative;

      input {
        position: absolute;
        width: 40px;
        height: 20px;
        left: -6px;
        top: -3px;
        opacity: 0;
        z-index: 2;
        cursor: pointer;
      }

      span {
        display: block;
        width: 28px;
        height: 3px;
        background-color: var(--primaryTextColor);
        border-radius: 3px;
        transition: all 0.5s;
      }
    }
  }
}
.btn-profile {
  margin-left: 10px;
  @include m.btn-profile();
}
.kZqnfX{
  background-color: var(--secondaryColor);
  border-radius: 6px;
  padding: 1em;
  left: 0 !important;
  top: 60px !important;
}
.profile-menu{
  width: 250px;
  .circle-avatar {
    display: grid;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
    border-radius: 50%;
    background-color: #ffbd30;
    place-items: center;

    span {
      font-size: 48px;
      font-weight: bold;
      text-transform: capitalize;
    }
  }
  .profile-menu__name {
    font-size: 1.2em;
    color: var(--primaryTextColor);
    text-align: center;
    margin-bottom: 0;
  }

  .profile-menu__email {
    color: var(--secondaryTextColor);
    text-align: center;
    margin-bottom: .5rem;
  }

  .d-grid {
    display: grid;
  }

  .btn-logout {
    @include m.btn-logout();

  }
}
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
  background-color: var(--primaryTextColor);
  transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
  background-color: var(--primaryTextColor);
  transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
  transform: scale(0);
  opacity: 0;
}

// end of Header styles

// search styles
.notes-search {
  margin: 2em auto;
  border: 2px solid var(--borderColor);
  border-radius: 5px;
  padding: 7px 5px 7px 7px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--tersierColor);
  box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.3);
  input {
    border: none;
    padding: 8px;
    font-size: 1em;
    border-radius: 5px;
    width: 100%;
  }

  svg {
    font-size: 1em;
    color: #fff;
    margin-right: 0.5em;
  }
}

// end of search styles

// konten styles
.container {
  max-width: 1140px;
  padding: 1em;
  margin: 1em auto;

  .detail-container {
    margin: .5em auto;
    max-width: 100%;

    h2 {
      color: var(--primaryTextColor);
      font-size: 3em;
    }

    .detail-container__date {
      color: var(--secondaryTextColor);
    }

    .detail-container__description {
      margin-top: 2em;
      color: var(--primaryTextColor);
    }

    .notfound-container__btnback {
      @include m.btn-back();
      margin: 1em 0 !important;
    }
  }

  .notes-container {
    margin: .5em auto;
    display: grid;
    max-width: 100%;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 1em;

    .notes-item {
      display: flex;
      margin: 0.5em;
      overflow: hidden;
      background-color: var(--secondaryColor);
      flex-direction: column;
      padding: 1em;
      box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.3);
      border-radius: 8px;
      border: 0;

      .notes-item__head {
        a {
          color: var(--primaryTextColor);
          font-size: 1.5em;
          font-weight: 600;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .notes-item__date {
        color: var(--secondaryTextColor);
        font-size: 0.8em;
        font-weight: 300;
        margin-top: 0.3em;
      }

      .notes-item__content {
        font-size: 1em;
        font-weight: 400;
        color: var(--primaryTextColor);
        margin-top: 0.9em;

        a {
          color: var(--primaryTextColor);
          text-decoration: none;

          &:hover {
            color: var(--interactiveText);
            text-decoration: underline;
          }
        }
      }

      .notes-item__body {
        margin-top: 25px;
        flex: 1 1;
      }

      .notes-item__button {
        display: flex;

        .notes-item__btndelete {
          svg {
            margin-right: .2em;
          }

          @include m.btn-delete()
        }

        .notes-item__btnarchive {
          svg {
            margin-right: .2em;
          }

          @include m.btn-archived()
        }
      }
    }
  }

  .input-notes {
    max-width: 600px;
    margin: 0 auto;

    h2 {
      font-size: 2em;
      color: var(--primaryTextColor);
      letter-spacing: 3px;
    }

    .add-note__title-limit {
      color: var(--secondaryTextColor);
    }

    .add-note__title,
    .add-body {
      display: block;
      width: 100%;
      font-weight: 700;
      background-color: transparent;
      outline-color: initial;
      border: 1px solid #00cc8f;
      outline: none;
      padding: 0.6em;
      margin: 0.6em 0;
      color: var(--primaryTextColor);
      border-radius: 3px;
    }

    .add-body {
      min-height: 200px;
    }

    button {
      display: block !important;
      width: 100%;
      text-align: center;
      @include m.btn-archived();
    }
  }

  .notfound-container {
    margin: .5em auto;
    max-width: 100%;
    text-align: center;

    .notfound-container__error-text {
      h1 {
        color: #E38B29;
        font-size: 3.5em;
      }

      p {
        color: var(--primaryTextColor);
      }
    }

    .notfound-container__btnback {
      @include m.btn-back()
    }
  }

  .notes-list_heading {
    color: var(--primaryTextColor);
    font-size: 2em;
    margin-top: 1.5em;
  }

  .notes-list__empty-msg {
    font-size: 3em;
    color: #f0ad4e;
  }
}

// register page styles
.container {
  .register-page {

    position: relative;
    width: 50%;
    border-radius: 8px;
    height: 100%;
    overflow: hidden;
    background: var(--secondaryColor);
    align-items: center;
    padding: 40px;
    margin: 0 auto;
    box-shadow: 3px 10px 20px rgba(0, 0, 0, 0.3);
    .register-page__heading {
      margin: 0 auto;
      width: 200px;
      font-size: 60px;
      font-weight: bold;
      text-align: center;
      color: var(--primaryTextColor);
      -webkit-transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -ms-transition: 0.2s ease all;
      -o-transition: 0.2s ease all;
      transition: 0.2s ease all;

      &:hover {
        color: #00cc8f
      }
    }

    .register-page__btnregist {
      @include m.btn-regist();
    }

    form {
      margin: 0 30px;

      input {
        margin: 10px 0;
        padding: .8rem .7rem;
        width: 100%;
        outline: none;
        border: 1px solid #bbb;
        border-radius: 20px;
        display: inline-block;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -ms-transition: 0.2s ease all;
        -o-transition: 0.2s ease all;
        transition: 0.2s ease all;

        &[type="text"]:focus,
        &[type="password"]:focus,
        &[type="email"]:focus {
          border-color: #00cc8f;
        }
      }


    }

    a {
      margin-top: 1.2rem;
      color: var(--primaryTextColor);
      display: block;

      &:hover {
        color:var(--interactiveText);
      }
    }
  }
}

// end of register page
/* Spinner Sphere */
.spinner {
  width: 200px;
  height: 200px;
  clear: both;
  margin: 180px auto;
}

.spinner-loader {
  border-radius: 50%;
  border-left: 0px #fff solid;
  border-right: 0px #fff solid;
  -webkit-animation: spSphere 1s infinite linear;
  animation: spSphere 1s infinite linear;
}

@-webkit-keyframes spSphere {
  0% {
    border-left: 0px #fff solid;
    border-right: 0px #fff solid;
  }

  33% {
    border-left: 32px #fff solid;
    border-right: 0px #fff solid;
  }

  34% {
    border-left: 0px #fff solid;
    border-right: 32px #fff solid;
  }

  66% {
    border-left: 0px #fff solid;
    border-right: 0px #fff solid;
  }
}

@keyframes spSphere {
  0% {
    border-left: 0px #fff solid;
    border-right: 0px #fff solid;
  }

  33% {
    border-left: 32px #fff solid;
    border-right: 0px #fff solid;
  }

  34% {
    border-left: 0px #fff solid;
    border-right: 32px #fff solid;
  }

  66% {
    border-left: 0px #fff solid;
    border-right: 0px #fff solid;
  }
}

// end of konten styles

// footer styles
footer{ 
  background:var(--secondaryColor); 
  margin-top:auto;
  display: grid;
  padding: .5em;
  text-align: center;
  p{
    color: var(--primaryTextColor) ;
    margin: .4em 0;
    font-size: 1.2em;
    letter-spacing: 1px;
  }
  .footer_icons{
 
    a{
      svg{
        color: var(--primaryTextColor);
        font-size: 32px;
        margin-left: .2em;
        transition: .2s ease-in;
        &:hover{
          color: #00cc8f;
        }
      }
    }
  }
  .footer_description{
    p{
      font-size: 1em;
      svg{
        font-size: .9em;
        color: #CC3D5C;
        align-items: center;
      }
    }
  }
}
// end of footer

// Responsive BreakPoint
@media screen and (max-width: 768px) {
  nav {
    ul {
      width: 50%;
    }
  }
}

@media screen and(max-width:568px) {
  .kZqnfX{
    top: 60px !important;
  }
  .menu-toggle {
    z-index: 99;
    display: flex !important;
  }

  .container {
    .register-page{
      width: 100%;
      padding: 1em;
    }
    .notes-container {
      grid-template-columns: 1fr;
    }

  }

  header {
    nav {
      ul {
        position: fixed;
        right: 0;
        top: 0;
        flex-direction: column;
        background-color: var(--tersierColor);
        height: 100vh;
        width: 50%;
        align-items: center;
        justify-content: space-evenly;
        z-index: 2;
        transform: translateY(-100%);
        opacity: 0;
        transition: all 1s;
      }
      .brand-container{
        .toggle-theme{
          margin: 8px 6px 0 6px;
        }
      }
      .slide {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

// End Of Responsive